<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button type="button" class="btn btn-link"
            (click)="changeDisplayMode(displayModeEnum.Card)"
            [class.active]="displayMode ===
            displayModeEnum.Card">
            <i class="bi bi-card-list"></i>
            Card View
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-link"
            (click)="changeDisplayMode(displayModeEnum.Table)"
            [class.active]="displayMode ===
            displayModeEnum.Table"><i class="bi bi-table"></i> List View
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<pm-task-type-table
  [listTaskTypes]="listTaskTypes"
  [hidden]="displayMode !== displayModeEnum.Table">
</pm-task-type-table>

<pm-task-type-card
  [listTaskTypes]="listTaskTypes"
  [hidden]="displayMode !== displayModeEnum.Card">
</pm-task-type-card>
